@font-face {
    font-family: Satoshi;
}

h1 {
    font-family: "korolev", sans-serif;
    font-weight: 700;
    font-size: 42pt;
    font-style: normal;
    text-transform: uppercase;
}

h2 {
    font-family: "neulis-sans", sans-serif;
    font-weight: semi-bold;
    font-size: 11pt;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 6px;
}

h3 {
    font-family: "neulis-sans", sans-serif;
    font-weight: light;
    font-size: 11pt;
    font-style: normal;
    letter-spacing: 6px;
    text-transform: uppercase;
}

p {
    font-size: 11pt;
    color: #1e1e1e;
    line-height: 1.6;
}

a {
    font-family: "Satoshi", sans-serif;
    color: #1e1e1e;
    letter-spacing: 0.4px;
}