header {
    display: flex;
    width: 100%;
    padding: 20px 15%;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: fit-content;
    position: fixed;
    top: 0;
    backdrop-filter: blur(24px);
    box-sizing: border-box;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.3);
}

nav {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 40px;
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 8px;
}

.nav-link a {
    font-family: 'Satoshi', sans-serif;
    font-size: 11pt;
    text-decoration: none;
}

.nav-link a:hover {
    text-decoration: underline;
    text-decoration-color: #1e1e1e;
    text-underline-offset: 2px;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin: auto;
    padding: 40px 0%;
    justify-content: center;
    align-items: center;
    background-color: #a2836c;
    height: fit-content;
    color: white;
}

footer p {
    color: white;
}

.footer-container {
    display: flex;
    gap: 6px;
}

.vertical-line {
    width: 1px;
    height: 26px;
    background-color: white;
}

@media screen and (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .vertical-line {
        display: none;
    }

    footer h2 {
        display: none;
    }

    footer svg {
        display: none;
    }
}